$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$header-font: 'Raleway Dots';
$font-size-base: 0.9rem;
$line-height-base: 1.2;
$enable-gradients: true;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$primary: #b1b1b1;
$secondary: #0bb2d4;

$hover-highlight: #{$orange}50;
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
$grid-columns: 12;
$grid-gutter-width: 10px;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 992px,
  lg: 1200px,
  xl: 1600px
);
$container-max-widths: (
  sm: 540px,
  md: 960px,
  lg: 1140px,
  xl: 1540px
);